<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RorTask</title>
  <%= stylesheet_link_tag    'application', debug: false, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', debug: false, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>

  <%= yield %>

</body>
</html>
